<h2>Template: basics</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="save( miFormulario )"
          #miFormulario="ngForm"
          autocomplete="off">

      <!-- field product -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input type="text"
                 ngModel
                 required
                 name="product"
                 class="form-control"
                 placeholder="Product name">
          <span class="form-text text-danger">Should be 3 letters</span>
        </div>
      </div>

      <!-- field product -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input type="number"
                 ngModel
                 required
                 name="price"
                 class="form-control"
                 placeholder="Product price">
        </div>
      </div>

      <!-- field product -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input type="number"
                 ngModel
                 required
                 name="stock"
                 class="form-control"
                 placeholder="Product stock">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            <i class="bi bi-check-lg"></i>
            Save
          </button>
        </div>
      </div>

    </form>

  </div>
</div>



<div class="row">
  <div class="col">

    <span>valid</span>
    <code>
      <pre>{{ miFormulario.valid }}</pre>
    </code>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

  </div>
</div>
