<h2>Reactive validators</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off">

      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="Name">
          <span class="form-text text-danger">
            Should be in name and last name format
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 placeholder="Email">
        </div>
      </div>

      <!-- User name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">User name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="User name">
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Account passowrd">
        </div>
      </div>

      <!-- Confirm password-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Confirm password">
        </div>
      </div>

      <!-- Send -->
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end">
            Signup
          </button>
        </div>
      </div>

    </form>

  </div>
</div>
