<h2>Reactive validators</h2>
<hr>

<div class="row">
  <div class="col">

    <form [formGroup]="myForm"
          (ngSubmit)="formSubmit()"
          autocomplete="off">

      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Name">
          <span *ngIf="inputInvalid('name')" class="form-text text-danger">
            Should be in name and last name format
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="Email">
          <span *ngIf="inputInvalid('email')" class="form-text text-danger">
            The email is required
          </span>
        </div>
      </div>

      <!-- User name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">User name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="User name">
          <span *ngIf="inputInvalid('username')" class="form-text text-danger">
            The username is required
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Account passowrd">
          <span *ngIf="inputInvalid('password')" class="form-text text-danger">
            The password should be min 6 letters
          </span>
        </div>
      </div>

      <!-- Confirm password-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="confirmPassword"
                 placeholder="Confirm password">
        </div>
      </div>

      <!-- Send -->
      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end"
                  [disabled]="myForm.pending">
            Signup
          </button>
        </div>
      </div>

    </form>

  </div>
</div>



<h2>Form valid:</h2>
<h4>
  <code><pre>{{ myForm.valid }}</pre></code>
</h4>

<h2>Form Status:</h2>
<h4>
  <code><pre>{{ myForm.status }}</pre></code>
</h4>

<h2>Form Pending:</h2>
<h4>
  <code><pre>{{ myForm.pending }}</pre></code>
</h4>



<h2>Name</h2>
<h4>
  <code><pre>{{ myForm.controls['name'].errors | json}}</pre></code>
</h4>

<h2>email</h2>
<h4>
  <code><pre>{{ myForm.controls['email'].errors | json}}</pre></code>
</h4>

<h2>Username</h2>
<h4>
  <code><pre>{{ myForm.controls['username'].errors | json}}</pre></code>
</h4>

<h2>Password</h2>
<h4>
  <code><pre>{{ myForm.controls['password'].errors | json}}</pre></code>
</h4>

<h2>Confirm</h2>
<h4>
  <code><pre>{{ myForm.controls['confirmPassword'].errors | json}}</pre></code>
</h4>

